# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# VSCode or IDE configs
.vscode/
.idea/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Environment / virtualenv
env/
venv/
ENV/
.venv/

# Logs
*.log

# Data (optional - jika tidak ingin dataset lokal ikut di-push)
# Hapus baris ini jika dataset seperti Student_Performance.csv memang ingin disertakan
*.csv

# Cache
*.pkl
*.joblib
*.sav
